@model ProjetArchi.Models.Projets

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Projets</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.avancement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.avancement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_début)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_début)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_fin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_fin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_mod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_mod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_client)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_client)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_archi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_archi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_proj }) |
    @Html.ActionLink("Back to List", "Index")
</p>
