@model IEnumerable<ProjetArchi.Models.Projets>

@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
	@Html.ActionLink("Create New", "Create")
</p>

<body style="background-color:black">


	<div class="row">
		<div class="col-md-3 col-sm-3 col-xs-6"> <a href="@Url.Action("Create", "Projets")" class="btn btn-sm animated-button sandy-one">Démarrez nouveau projet</a> </div>
		<div class="col-md-3 col-sm-3 col-xs-6"> <a href="#" class="btn btn-sm animated-button sandy-two">Login</a> </div>
		<div class="col-md-3 col-sm-3 col-xs-6"> <a href="#" class="btn btn-sm animated-button sandy-three">Register</a> </div>
		<div class="col-md-3 col-sm-3 col-xs-6"> <a href="#" class="btn btn-sm animated-button sandy-four">Learn more</a> </div>
	</div>

	<p><a style="background-color:lavender" class="btn btn-default" @Html.ActionLink("Démarrez un nouveau projet", "Create")</a></p>
	<p><a style="background-color:lavender" class="btn btn-default" @Html.ActionLink("Mes Prestataires", "Index", "Personnes")</a></p>
	<p><a style="background-color:lavender" class="btn btn-default" @Html.ActionLink("Exemple", "Index", "Participes")</a></p>
	<p><a style="background-color:lavender" class="btn btn-default" @Html.ActionLink("Archives", "Index", "Archives")</a></p>

	<table class="table">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.avancement)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.date_début)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.date_fin)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.id_mod)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.id_client)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.id_archi)
			</th>
			<th></th>
		</tr>

		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.avancement)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.date_début)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.date_fin)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.id_mod)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.id_client)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.id_archi)
				</td>
				<td>
					@Html.ActionLink("Edit", "Edit", new { id = item.id_proj }) |
					@Html.ActionLink("Details", "Details", new { id = item.id_proj }) |
					@Html.ActionLink("Delete", "Delete", new { id = item.id_proj })
				</td>
			</tr>
		}

	</table>
</body>