@model ProjetArchi.Models.RéponsesQuestionnaireProjet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RéponsesQuestionnaireProjet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Reponses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reponses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.xidProjet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.xidProjet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionnaireCréationProjet.Question)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionnaireCréationProjet.Question)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idRep }) |
    @Html.ActionLink("Back to List", "Index")
</p>
