@model IEnumerable<ProjetArchi.Models.RéponsesQuestionnaireProjet>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="reponses" class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Reponses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.xidProjet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuestionnaireCréationProjet.Question)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Reponses)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.xidProjet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionnaireCréationProjet.Question)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idRep }) |
            @Html.ActionLink("Details", "Details", new { id=item.idRep }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idRep })
        </td>
    </tr>
}

</table>
