@model ProjetArchi.Models.QuestionnaireCréationProjet

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>QuestionnaireCréationProjet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Question_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question_3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question_3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question_4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question_4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question_5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question_5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question_6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question_6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Checked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Checked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clients.admin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clients.admin)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
