@model ProjetArchi.Models.QuestionnaireCréationProjet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>QuestionnaireCréationProjet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Question_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question_3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question_3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question_4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question_4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question_5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question_5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question_6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question_6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Checked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Checked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clients.admin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clients.admin)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idQuest }) |
    @Html.ActionLink("Back to List", "Index")
</p>
