@model IEnumerable<ProjetArchi.Models.Participe>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Architectes.id_archi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clients.admin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modélisateurs.id_model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Projets.id_proj)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Architectes.id_archi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Clients.admin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modélisateurs.id_model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Projets.id_proj)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
